#first::first-letter{
    font-size:200% !important;
   }
#bgg{
    background-color:beige!important;
}
.carousel-caption{
    bottom: 300px;
}
.linkks{
color: rgb(235, 232, 232);
text-decoration: none;
}
#insta{
    color :#fc466b;
}
#form{
    padding: 5px;
}
